*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(0,212,255);
  background: radial-gradient(circle, rgba(0,212,255,1) 57%, rgba(43,6,112,1) 100%);
}
.container{
  height: 400px;
    width: 320px;
    background-color: #000;
    position: absolute;
     margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    font-family: 'Poppins',sans-serif;
}
h2
{
  padding-top: 30px;
  text-align: center;
  color: white;
  margin: 0;
}
.desc
{
  width: 100%;
  height: 10px;
  text-align: center;
  position: absolute;
  top: 90px;
}
textarea
{
  width:80%;
  padding-left: 10%;
  border-radius: 10px;
  height: 150px;
}
button
{
  position: absolute;
  width: 60%;
  padding: 15px 0;
  left: 20%;
  top: 300px;
  background-color: #312B5D;
  color: white;
  border: 2px solid #8878FE;
  border-radius: 5px;
  outline: none;
}
